body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.re-container {
  margin: 0 3% 0 3%;
  padding: 0;
}

.title {
    font-size: 200%;
}

.textGray {
  color: #5f5f5f;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid #ffc400;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color: #ffc400;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #ffab40;
}

.btn-large {
  background-color: #ff9100;
}